<% layout('/layout/main') -%>

<h2>Информация о клиенте:</h2>
<div class="info">
    <div class="row">
        <span>Полное имя:</span>
        <span>Василий Владимирович Клименко</span>
    </div>
    <div class="row">
        <span>Возраст:</span>
        <span>21</span>
    </div>
    <div class="row">
        <span>Категория:</span>
        <span>Студент</span>
    </div>
    <div class="row">
        <span>Номер абонемента:</span>
        <span>231</span>
    </div>
    <div class="row">
        <span>Количество взятых книг:</span>
        <span>3</span>
    </div>
</div>
