<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<div class="container">
    <% books.forEach(function(book) { %>
        <h2>Title: <%= book.title %> <a href="/book/delete/<%= book.id %>">Delete</a></h2>
        <p>Book id: <%= book.id %></p>
        <p>Book author: <%= book.author_name %></p>
        <hr>
    <% }); %>
    
    <form action="/book/save" method="POST">
        <h2><center>Add new book</center></h2> <br>
        <input type="text" name="title" placeholder="Book title"> <br>
        <input type="text" name="author_name" placeholder="Author`s name"> <br>
        <input type="submit" value="Save">
    </form>
</div>
</body>
</html>