<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
   <div class="container">
        <div class="header">

            <div class="logo"><span class="fa-institution fa fa-4x"></span></div>
            <div class="links">
                <a href="#">Техническое задание</a>
                <a href="#">Курсовой проект</a>
            </div>
        </div>
    </div>
    <div class="slide"></div>

    <div class="content">
        <div class="container">
            <div class="nav">
                <div class="category"><span class="fa-university fa">&nbsp</span>Библиотека</div>
                <div class="button">Выбрать все библиотеки</div>
                <div class="button">Добавить библиотеку</div>
                <div class="category"><span class="fa-book fa">&nbsp</span>Книга</div>
                <div class="button">Добавить книгу</div>
                <div class="button">Выбрать все книги</div>
                <div class="button">Выдать книгу</div>
                <div class="category"><span class="fa-users fa">&nbsp</span>Клиент</div>
                <div class="button">Добавить клиента</div>
                <div class="button">Информация о клиенте</div>
                <div class="button">Получить список клиентов</div>
                <div class="button">Получить список абонементов</div>
            </div>
            <div class="article">

                <%-body -%>

            </div>
        </div>
        <div class="clear"></div>
    </div>
   <div class="container">
        <div class="footer">
            <div class="left"><span>Алексей Репин &copy 2016</span></div>
            <div class="right">
                <div class="fa-css3 fa icon fa-3x"></div>
                <div class="fa-html5 fa icon fa-3x"></div>
                <img src="image/node.png" class="icon">
            </div>
        </div>
    </div>
</body>
</html>
